.aider*
bin/act
bin/ag
bin/amtool
bin/awless
bin/aws-iam-authenticator*
bin/aws-key-importer
bin/aws-vault
bin/benchtool
bin/bfg.jar
bin/bito
bin/bito-*
bin/borg
bin/bw
bin/cadvisor
bin/chartmuseum
bin/chartmuseum-aws
bin/circleci
bin/cmctl
bin/cortextool
bin/crictl
bin/ctop
bin/cw
bin/datree
bin/dbmate
bin/diff-so-fancy
bin/direnv
bin/docker-compose
bin/docker-credential-ecr-login
bin/docker-credential-pass
bin/docker-lint
bin/docker-machine
bin/docker-slim
bin/docker-slim-sensor
bin/doctl
bin/dry
bin/eksctl
bin/ep
bin/esxi-vm-create
bin/esxi-vm-destroy
bin/esxi_vm_functions.py
bin/esxi_vm_functions.pyc
bin/exa
bin/fd*
bin/fzf
bin/gdu
bin/gh
bin/gilt
bin/gimme
bin/git-chglog
bin/git-crypt
bin/github-mcp-server
bin/github-release
bin/goose
bin/govc
bin/grafanactl
bin/grype
bin/hadolint
bin/hcloud
bin/helm
bin/heptio-authenticator-aws*
bin/ignite
bin/infracost
bin/istioctl
bin/istioctl183
bin/jb
bin/jfrog
bin/jiq
bin/jsonnet
bin/jsonnetfmt
bin/k0sctl
bin/k3sup
bin/k9s
bin/kapitan
bin/kc
bin/komiser
bin/ks
bin/ksync
bin/kubebox
bin/kubecolor
bin/kubectl-cert_manager
bin/kubectl-convert
bin/kubectl-spy
bin/kubescape
bin/kubespy
bin/kubeval
bin/kubie
bin/kustomize
bin/lazycli
bin/lazydocker
bin/lazygit
bin/lazynpm
bin/libcrypto.so.1.1
bin/linux-exploit-suggester.sh
bin/lnav
bin/logcli
bin/lpass
bin/mark
bin/mitm*
bin/mkp224o
bin/myaws
bin/mysql-connector-java*
bin/ngrok
bin/nitrokey-app
bin/oc
bin/openapi-generator-cli.jar
bin/opencode
bin/packer
bin/phpmd
bin/plantuml.jar
bin/plumber
bin/pluralith
bin/polaris
bin/popeye
bin/postman
bin/prettyping
bin/procs
bin/promlens
bin/promtool
bin/qsv*
bin/rakkess
bin/rider
bin/s5cmd
bin/schemacrawler
bin/schemaspy.jar
bin/shellcheck
bin/shellharden
bin/skaffold
bin/skeema
bin/slack-term
bin/snyk
bin/sourcetrail
bin/ssm
bin/step1.xml
bin/step2.xml
bin/stern
bin/swagen
bin/swagger-codegen-cli.jar
bin/syft
bin/symfony
bin/task
bin/Telegram
bin/telepresence
bin/terraform
bin/terraform011
bin/terraform012
bin/terraform013
bin/terraform014
bin/terraform100
bin/terraform-docs
bin/terraformer
bin/terraformer_all
bin/terraformer_aws
bin/terraformer_google
bin/terraformer_kubernetes
bin/terra.jar
bin/testssl/
bin/tflint
bin/tfschema
bin/toggl
bin/toggl_*
bin/traefik
bin/traefik1
bin/trafficmirror
bin/Updater
bin/vault
bin/webhook
bin/wtfutil
bin/xh
bin/xhs
bin/ydotool
bin/ydotoold
bin/youtube-dl
bin/yq
bin/zed
completions/xh.fish
completions/_xh.ps1
config/zellij/plugins/
esxcli.logesxcli.log
.idea
oh-my-zsh
*.phar
startup.log
*.swp
terraformer-all-linux-amd64
terraformer-google-linux-amd64
.vscode
zshrc.local
