*.swp
.vscode
.idea
bin/jiq
bin/dry
bin/promtool
bin/circleci
bin/eksctl
bin/github-release
bin/helm
bin/heptio-authenticator-aws*
bin/aws-iam-authenticator*
bin/ks
bin/stern
bin/terraform-docs
bin/fzf
bin/exa
bin/toggl
bin/vault
bin/terraform
bin/packer
bin/gimme
bin/aws-key-importer
bin/docker-machine
bin/postman
bin/myaws
bin/slack-term
bin/amtool
bin/direnv
bin/yq
bin/ngrok
bin/oc
bin/ignite
bin/mitm*
bin/terraformer
bin/wtfutil
bin/govc
bin/kubectl-spy
bin/kubespy
bin/kubeval
bin/kubie
bin/kubebox
bin/polaris
bin/popeye
bin/ksync
bin/rakkess
bin/skeema
bin/webhook
bin/terraformer_all
bin/terraformer_aws
bin/terraformer_google
bin/terraformer_kubernetes
bin/traefik
bin/traefik1
bin/phpmd
bin/symfony
bin/dbmate
bin/diff-so-fancy
bin/schemacrawler
bin/tfschema
bin/jfrog
bin/k3sup
bin/docker-slim
bin/docker-slim-sensor
bin/lazygit
bin/ag
bin/lnav
bin/ep
bin/skaffold
bin/awless
bin/tflint
bin/fd*
bin/borg
bin/bfg.jar
bin/openapi-generator-cli.jar
bin/docker-credential-ecr-login
bin/docker-credential-pass
bin/mkp224o
bin/swagen
bin/kc
bin/kubecolor
bin/chartmuseum
bin/chartmuseum-aws
oh-my-zsh
startup.log
zshrc.local
bin/jsonnet
bin/jsonnetfmt
bin/terraform011
bin/terraform012
bin/terraform013
bin/terraform014
bin/mark
bin/s5cmd
bin/k9s
bin/jb
bin/ssm
bin/kapitan
bin/terra.jar
bin/schemaspy.jar
bin/rider
bin/git-chglog
bin/docker-lint
bin/hadolint
bin/cadvisor
bin/youtube-dl
bin/shellharden
bin/istioctl
bin/istioctl183
bin/ctop
# esxi toolset
esxcli.logesxcli.log
bin/esxi-vm-create
bin/esxi-vm-destroy
bin/esxi_vm_functions.py
bin/esxi_vm_functions.pyc
*.phar
bin/swagger-codegen-cli.jar
bin/toggl_*
bin/crictl
terraformer-all-linux-amd64
terraformer-google-linux-amd64
bin/mysql-connector-java*
bin/sourcetrail
bin/linux-exploit-suggester.sh
bin/gdu
bin/procs
bin/logcli
bin/lazydocker
bin/cortextool
bin/terraform100
bin/xh
bin/xhs
completions/_xh.ps1
completions/xh.fish
bin/grype
bin/syft
bin/kubescape
bin/doctl
bin/lpass
bin/testssl/
bin/kustomize
