vars:
  global_var: "Global value"
  path: "/home/user"

cmds:
  greet: "echo 'Hello, World!'"
  list_files: "ls -la {{ path }}"
  custom_echo: "echo '{{ message }}'"

bookmarks:
- name: "LazyDocker"
  desc: "run lazy docker ui"
  cmds:
  - "lazydocker"
  exec: true
  labels:
  - "docker"
- name: "LazyGit"
  desc: "run lazy git ui"
  cmds:
  - "lazygit"
  exec: true
  labels:
  - "git"
- name: "git cd-root"
  desc: "change directory to root of the git repo"
  cmds:
  - "cd \"$(git rev-parse --show-toplevel)\""
  exec: true
  labels:
  - "git"
- name: "Checkout branch with UI forgit::checkout::branch"
  desc: ""
  cmds:
  - "forgit::checkout::branch"
  exec: true
  labels:
  - "git"

- name: "c-kitty-console"
  desc: ""
  cmds:
  - "kitty >/dev/null 2>&1 &"
  exec: true
  labels:
  - "utils"

- name: "c-terminator-console"
  desc: ""
  cmds:
    - "terminator >/dev/null 2>&1 &"
  exec: true
  labels:
    - "utils"

- name: "c-gnome-terminal-console"
  desc: ""
  cmds:
    - "gnome-terminal >/dev/null 2>&1 &"
  exec: true
  labels:
    - "utils"

- name: "r-lnav-install"
  desc: "Installs lnav on remote"
  cmds:
  - "read -p \"Do you want to install lnav? (Y/N): \" answer; [[ \"$answer\" =~ ^[Yy]$ ]] && echo OK || { echo \"Exiting without installation.\"; exit 0; }"
  - "curl -sLo /tmp/lnav.zip https://github.com/tstack/lnav/releases/download/v0.13.2/lnav-0.13.2-linux-musl-x86_64.zip"
  - "cd /tmp && unzip lnav.zip"
  - "chmod +x /tmp/lnav-0.13.2/lnav"
  - "sudo  mv /tmp/lnav-0.13.2/lnav /usr/bin/lnav"
  - "lnav -i extra"
  exec: true
  labels:
  - "files"

- name: "r-lazydocker-install"
  desc: "Installs lazydocker on remote"
  cmds:
  - "read -p \"Do you want to install lazydocker? (Y/N): \" answer; [[ \"$answer\" =~ ^[Yy]$ ]] && echo OK || { echo \"Exiting without installation.\"; exit 0; }"
  - "curl -sLo /tmp/lazydocker.tar.gz https://github.com/jesseduffield/lazydocker/releases/download/v0.24.2/lazydocker_0.24.2_Linux_x86.tar.gz"
  - "tar -xvzf /tmp/lazydocker.tar.gz -C /tmp"
  - "sudo mv /tmp/lazydocker /usr/local/bin/"
  - "sudo chmod +x /usr/local/bin/lazydocker"
  - "rm -f /tmp/lazydocker.tar.gz"
  exec: true
  labels:
  - "files"

- name: "r-awscli2-install"
  desc: "Installs aws cli v2 on remote"
  cmds:
  - "read -p \"Do you want to install aws cli v2? (Y/N): \" answer; [[ \"$answer\" =~ ^[Yy]$ ]] && echo OK || { echo \"Exiting without installation.\"; exit 0; }"
  - "curl -sLo /tmp/awscliv2.zip https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip"
  - "cd /tmp"
  - "unzip awscliv2.zip"
  - "sudo ./aws/install"
  exec: true
  labels:
  - "files"

- name: "r-dotfiles-docker-install"
  desc: "Installs dotfiles in docker container"
  cmds:
  - "read -p \"Do you want to install dotfiles in docker container mode? (Y/N): \" answer; [[ \"$answer\" =~ ^[Yy]$ ]] && echo OK || { echo \"Exiting without installation.\"; exit 0; }"
  - "cd ~"
  - "curl -sSL https://bit.ly/slavkodotfiles > bootstrap.sh && chmod +x bootstrap.sh"
  - "./bootstrap.sh docker"
  exec: true
  labels:
  - "remote"

- name: "r-dotfiles-simple-install"
  desc: "Installs dotfiles in simple mode"
  cmds:
  - "read -p \"Do you want to install dotfiles in simple mode mode? (Y/N): \" answer; [[ \"$answer\" =~ ^[Yy]$ ]] && echo OK || { echo \"Exiting without installation.\"; exit 0; }"
  - "cd ~"
  - "curl -sSL https://bit.ly/slavkodotfiles > bootstrap.sh && chmod +x bootstrap.sh"
  - "./bootstrap.sh simple"
  exec: true
  labels:
  - "remote"

- name: "r-dotfiles-full-install"
  desc: "Installs dotfiles in full mode"
  cmds:
  - "read -p \"Do you want to install dotfiles in full mode mode? (Y/N): \" answer; [[ \"$answer\" =~ ^[Yy]$ ]] && echo OK || { echo \"Exiting without installation.\"; exit 0; }"
  - "cd ~"
  - "curl -sSL https://bit.ly/slavkodotfiles > bootstrap.sh && chmod +x bootstrap.sh"
  - "./bootstrap.sh full"
  exec: true
  labels:
  - "remote"


- name: "x-webinstall-k9"
  desc: "Installs tmp k9 on remote"
  cmds:
  - "read -p \"Do you want to install tmp k9? (Y/N): \" answer; [[ \"$answer\" =~ ^[Yy]$ ]] && echo OK || { echo \"Exiting without installation.\"; exit 0; }"
  - "curl -sS https://webi.sh/k9s | sh;"
  - "source ~/.config/envman/PATH.env"
  exec: true
  labels:
  - "remote"

- name: "mitmproxy"
  desc: "starts mitmproxy on port 8866"
  cmds:
  - "mitmproxy --listen-port 8866"
  exec: true
  labels:
  - "proxy"

- name: "mitmproxyweb"
  desc: "starts mitmproxyweb on port 8866"
  cmds:
  - "mitmproxyweb --listen-port 8866 >/dev/null 2>&1 &"
  exec: true
  labels:
  - "proxy"
