reporting: "off"

customCommands:
  containers:
  - name: All logs to lnav
    attach: true
    command: lnav docker://{{ .Container.ID }}
    serviceNames: []
  - name: 5 mins logs to lnav
    attach: true
    command: bash -c "lnav -e 'docker logs --timestamps --since 5m {{ .Container.ID }}'"
    serviceNames: []
  - name: 15 mins logs to lnav
    attach: true
    command: bash -c "lnav -e 'docker logs --timestamps --since 15m {{ .Container.ID }}'"
    serviceNames: []
  - name: 30 mins logs to lnav
    attach: true
    command: bash -c "lnav -e 'docker logs --timestamps --since 30m {{ .Container.ID }}'"
    serviceNames: []
  - name: 1h logs to lnav
    attach: true
    command: bash -c "lnav -e 'docker logs --timestamps --since 60m {{ .Container.ID }}'"
    serviceNames: []
