"*":
  core: {}
  editor:
    fontSize: 12
    invisibles: {}
    showInvisibles: true
  "highlight-line":
    hideHighlightOnSelect: true
  linter:
    errorPanelHeight: 164
  "tree-view":
    hideVcsIgnoredFiles: false
  welcome:
    showOnStartup: false
