"*":
  "atom-beautify":
    _analyticsUserId: "96daa94a-2f34-42ae-9352-0918e32cfe74"
  core: {}
  editor:
    fontSize: 12
    invisibles: {}
    showInvisibles: true
  "highlight-line":
    hideHighlightOnSelect: true
  linter:
    errorPanelHeight: 24
  "tree-view":
    hideVcsIgnoredFiles: false
  welcome:
    showOnStartup: false
