"*":
  core: {}
  editor:
    fontSize: 10
    invisibles: {}
    showInvisibles: true
  "highlight-line":
    hideHighlightOnSelect: true
  linter:
    errorPanelHeight: 164
  "rst-preview-pandoc":
    pandocOpts: "-frst -thtml --webtex"
  "tree-view":
    hideVcsIgnoredFiles: false
  welcome:
    showOnStartup: false
