# These keybindings are a combination of IntelliJ's OS X 10.5+ keybindings
# and additive ones from Pivotal's practice.

# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

'.platform-win32, .platform-linux':
  'ctrl-shift-n': 'fuzzy-finder:toggle-file-finder'
  'shift shift': 'fuzzy-finder:toggle-file-finder'
  'cmd-g': 'go-to-line:toggle'
  'ctrl-w': 'expand-region:expand'
  'ctrl-shift-w': 'expand-region:shrink'
  'alt-shift-1': 'tree-view:reveal-active-file'
  'ctrl-y': 'editor:delete-line'
