[Desktop Entry]
Version=1.0
Type=Application
Name=Atom
Exec="/opt/atom/atom" %f
Icon=
Comment=Atom Editor
Categories=Development;IDE;
Terminal=false
StartupNotify=true
StartupWMClass=gui
